
.App-header {
  font-size: calc(10px + 2vmin);
}

.navigation-img {
  margin: 10px;
  border-radius: 20%;
}

.App-body {
  background-color: #394863;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body-home {
  background-image: url("./storage/backgrounds/bg_1.jpg");
  align-items: center;
}

.App-body-about {
  text-align: center;
}
